<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Lahirulhr Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="PAYHERE_API" value="https://sandbox.payhere.lk/" force="true" />
        <env name="PAYHERE_MERCHANT_ID" value="1222530" force="true" />
        <env name="PAYHERE_MERCHANT_SECRET" value="MTc1ODc1MDI4MTIzNjY1MjExOTU3MjM0NDkxODEyMjIzMDIwMTM=" force="true" />
        <env name="PAYHERE_APP_ID" value="4OVx3aKhPo84JDDSIoRH5n3LH" force="true" />
        <env name="PAYHERE_APP_SECRET" value="8X6QwxB1avE4fXlwFl3Mfe4vW67KqVszJ4uTPjKms8ub" force="true" />
        <env name="PAYHERE_AUTH_CODE" value="" force="true" />
    </php>
</phpunit>
